DATABASE_URL=""
DIRECT_URL=""
APP_URL="https://www.tristastreats.com"
SESSION_SECRET=""

TRISTA_MAILBOX_HOST="imap.tristastreats.com"
TRISTA_MAILBOX_PORT="993"
TRISTA_MAILBOX_SECURE="true"
TRISTA_SMTP_HOST="smtp.tristastreats.com"
TRISTA_SMTP_PORT="587"
TRISTA_SMTP_SECURE="false"
TRISTA_MAILBOX_USER="trista@tristastreats.com"
TRISTA_MAILBOX_PASSWORD=""

OWNER_EMAIL="tristamcc88@yahoo.com"
OWNER_NAME="Trista"
TECHADMIN_EMAIL="slender@slendystuff.com"
TECHADMIN_NAME="Slender"
INITIAL_ADMIN_PASSWORD=""

UMAMI_BASE_URL=""
UMAMI_API_KEY=""
